In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

import seaborn as sns

In [22]:
df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [23]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [24]:
list(df.columns.values)

['customerID',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges',
 'Churn']

In [25]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [26]:
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors='coerce')

In [27]:
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [28]:
#Replace null values in Total Charges with medium values of the column

df["TotalCharges"] = df["TotalCharges"].fillna(df["TotalCharges"].mean())

In [29]:
df["TotalCharges"].isnull().sum()

0

In [30]:
#Delete the customers' id columns
del df['customerID']

In [31]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [33]:
target_col = ["Churn"]

cat_cols   = df.nunique()[df.nunique() < 10].keys().tolist()

cat_cols   = [x for x in cat_cols if x not in target_col]

binary_cols   = df.nunique()[df.nunique() == 2].keys().tolist()

multi_cols = [i for i in cat_cols if i not in binary_cols]

In [34]:
binary_cols

['gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'PhoneService',
 'PaperlessBilling',
 'Churn']

In [40]:
multi_cols

['MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaymentMethod']

In [42]:
# from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

#Encode Yes/No columns
for cols in binary_cols :
    df[cols] = le.fit_transform(df[cols])
    
#Encode multivalues columns
df = pd.get_dummies(data = df,columns = multi_cols )

In [43]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,1,29.85,29.85,0,...,1,0,0,1,0,0,0,0,1,0
1,1,0,0,0,34,1,0,56.95,1889.50,0,...,1,0,0,0,1,0,0,0,0,1
2,1,0,0,0,2,1,1,53.85,108.15,1,...,1,0,0,1,0,0,0,0,0,1
3,1,0,0,0,45,0,0,42.30,1840.75,0,...,1,0,0,0,1,0,1,0,0,0
4,0,0,0,0,2,1,1,70.70,151.65,1,...,1,0,0,1,0,0,0,0,1,0

In [45]:
#Standardize numeric columns
from sklearn.preprocessing import StandardScaler

num_cols   = [x for x in df.columns if x not in cat_cols + target_col]

ss = StandardScaler()

scl = ss.fit_transform(df[num_cols])
scl = pd.DataFrame(scl, columns=num_cols)

#Drop current numeric columns
df = df.drop(columns = num_cols,axis = 1)

df = df.merge(scl, left_index=True, right_index=True, how = "left")

/Users/cuongthan/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/cuongthan/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [46]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,PhoneService,PaperlessBilling,Churn,tenure,MonthlyCharges,TotalCharges,...,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,0,1,0,-1.277445,-1.160323,-0.994971,...,1.236489,-0.525927,-0.79607,0.904184,-0.514249,-0.562975,-0.529885,-0.525047,1.406418,-0.544807
1,1,0,0,0,1,0,0,0.066327,-0.259629,-0.173876,...,1.236489,-0.525927,-0.79607,-1.105970,1.944582,-0.562975,-0.529885,-0.525047,-0.711026,1.835513
2,1,0,0,0,1,1,1,-1.236724,-0.362660,-0.960399,...,1.236489,-0.525927,-0.79607,0.904184,-0.514249,-0.562975,-0.529885,-0.525047,-0.711026,1.835513
3,1,0,0,0,0,0,0,0.514251,-0.746535,-0.195400,...,1.236489,-0.525927,-0.79607,-1.105970,1.944582,-0.562975,1.887201,-0.525047,-0.711026,-0.544807
4,0,0,0,0,1,1,1,-1.236724,0.197365,-0.941193,...,1.236489,-0.525927,-0.79607,0.904184,-0.514249,-0.562975,-0.529885,-0.525047,1.406418,-0.544807

# Modeling

In [48]:
from sklearn.model_selection import train_test_split

X_train = df.drop(['Churn'], axis=1)
y_train = df['Churn']

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=.2)

In [51]:
# Support vector machine

from sklearn.metrics import classification_report
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train,y_train)
pred_svc = svc.predict(X_test)

print(classification_report(y_test,pred_svc))

/Users/cuongthan/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

              precision    recall  f1-score   support

           0       0.84      0.90      0.87      1041
           1       0.65      0.52      0.58       368

   micro avg       0.80      0.80      0.80      1409
   macro avg       0.75      0.71      0.73      1409
weighted avg       0.79      0.80      0.80      1409

In [52]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators = 200)
rfc.fit(X_train,y_train)
pred_rfc = rfc.predict(X_test)

print(classification_report(y_test,pred_rfc))

              precision    recall  f1-score   support

           0       0.84      0.89      0.87      1041
           1       0.64      0.52      0.58       368

   micro avg       0.80      0.80      0.80      1409
   macro avg       0.74      0.71      0.72      1409
weighted avg       0.79      0.80      0.79      1409

In [54]:
from sklearn.metrics import confusion_matrix
#Confusion matrix for the random forest classification
print(confusion_matrix(y_test, pred_rfc))

[[931 110]
 [175 193]]

In [55]:
#Using GridSearchCV to fine-tune the above model

from sklearn.model_selection import GridSearchCV
param = {
    'C': [0.1,0.8,0.9,1,1.1,1.2,1.3,1.4],
    'kernel':['linear', 'rbf'],
    'gamma' :[0.1,0.8,0.9,1,1.1,1.2,1.3,1.4]
}
grid_svc = GridSearchCV(svc, param_grid=param, scoring='accuracy', cv=10)

grid_svc.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': [0.1, 0.8, 0.9, 1, 1.1, 1.2, 1.3, 1.4], 'kernel': ['linear', 'rbf'], 'gamma': [0.1, 0.8, 0.9, 1, 1.1, 1.2, 1.3, 1.4]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [56]:
#Best parameters for our svc model
grid_svc.best_params_

{'C': 0.9, 'gamma': 0.1, 'kernel': 'linear'}

In [58]:
#Run our SVC again with the best parameters.
svc2 = SVC(C = 0.9, gamma =  0.1, kernel= 'linear')
svc2.fit(X_train, y_train)
pred_svc2 = svc2.predict(X_test)
print(classification_report(y_test, pred_svc2))

              precision    recall  f1-score   support

           0       0.85      0.88      0.87      1041
           1       0.64      0.57      0.60       368

   micro avg       0.80      0.80      0.80      1409
   macro avg       0.74      0.73      0.74      1409
weighted avg       0.80      0.80      0.80      1409

SVC model's precision improved from 84% to 85%

In [60]:
from sklearn.model_selection import cross_val_score
#Now lets try to do some evaluation for random forest model using cross validation.
svc2_eval = cross_val_score(estimator = svc2, X = X_test, y = y_test, cv = 10)
svc2_eval.mean()

0.800519928079113